{% load static %}
{% now "Y M d" as current_year %}
<html lang="pl_PL">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="nav_bar">
            <ul class="nav-items">
              <li class="logo"><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'add_user' %}">Dodaj użytkownika</a></li>
              <li><a href="{% url 'add_group' %}">Dodaj grupę</a></li>
              <li><a href="{% url 'list_user' %}">Pełna lista użytkowników</a></li>
              <li class="login"><a href="{% url 'login' %}">Zaloguj się</a></li>
              <li class="login"><a href="{% url 'register' %}">Zarejestruj się</a></li>
            </ul>
        </nav>
        <div class="site-container">
            <section class="user-list">
                {% block left %}{% endblock %}
            </section>
            <section class="user-info">
                {% block right %}{% endblock %}
            </section>
        </div>
        <footer class="footer">
            <span class="author">Tomasz Kaszuba &copy | {{ current_year }} | <span id="clock"></span></span>
        </footer>
    </body>
    <script type="text/javascript">
        function clock(){
            var s = new Date();
            var field = document.getElementById("clock");
            var minutes = s.getMinutes();
            var hours = s.getHours();
            var seconds = s.getSeconds();

            if(hours<10)
                hours = "0" + hours;
            if(minutes<10)
                minutes = "0" + minutes;
            if(seconds<10)
                seconds = "0" + seconds;
            field.innerHTML = hours+":"+minutes+":"+seconds;
        }
        setInterval(clock, 100);
    </script>
</html>