{% extends "homepage.html" %}
{% block title %}{{ title }}{% endblock %}
{% block right %}
    <table class="user-table">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Grupa</th>
                <th>Poziom uprawnień</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user.values %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    {% for group in group.values %}
                        {% if group.id == user.group_id %}
                            <td>{{ group.name }}</td>
                            <td>{{ group.permission_level }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <div class="btn-group table-buttons" role="group" aria-label="Basic example">
                          <a href="/user/edit/{{ user.first_name }}/{{ user.id }}" class="btn btn-sm btn-info">Edytuj</a>
                          <a href="/user/delete/{{ user.first_name }}/{{ user.id }}" class="btn btn-sm btn-danger">Usuń</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="group-table">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
                <th>Rola</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            {% for group in group.values %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.permission_level }}</td>
                    <td>
                        <div class="btn-group table-buttons" role="group" aria-label="Basic example">
                          <a href="/group/edit/{{ group.name }}/{{ group.id }}" class="btn btn-sm btn-info">Edytuj</a>
                          <a href="/group/delete/{{ group.name }}/{{ group.id }}" class="btn btn-sm btn-danger">Usuń</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}